<link rel="stylesheet" href="{:ADDON_PUBLIC}/plugins/select2/select2.min.css">
<include file="Public/adminheader" /> 

    <section class="content-header">
      <h1>
      	物业管理系统
        <small> Q小区 Version 0.1</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">小区管理</a></li>
        <li class="active">门禁列表</li>
      </ol>
    </section>
    <section  class="content">
		 
	    	<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">门禁列表</h3>

			  <div class="box-tools" style="right: 200px;">
			  	<div class="input-group input-group-sm" style="width: 30px;">
                  <div class="input-group-btn">
					<if condition="$admin['grade'] eq !0">
                    <button type="submit" class="btn btn-default" id="addroom" data-toggle="modal" data-target="#myModal">添加</button>
					</if>
                  </div>
                </div>
              </div>
              <div class="box-tools">
              	<form action="" method="post">
	                <div class="input-group input-group-sm" style="width: 150px;">
	                  <input type="text" name="searchdoor" class="form-control pull-right" value="{$searchdoor}" placeholder="门禁名称">
	
	                  <div class="input-group-btn">
	                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
	                  </div>
	                </div>
                </form>
              </div>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>门禁编号</th>
                  <th>所属小区</th>
                  <th>门禁名称</th>
				  <th>SIM 卡号</th>
                  <th>在线状态</th>
                  <th>激活时间</th>
                  <th>最后活动时间</th>
                </tr>
                <volist name="list" id="data">
					<tr>
	                    <td>{$data.id}</td>
	                    <td>{$data.vname}</td>
	                    <td>{$data.door}</td>
						<td>{$data.sim}</td>
	                    <td>
	                    	<switch name="data.online">    
	                    		<case value="0"><font color="red">离线</font></case>    
	                    		<case value="1"><font color="green">在线</font></case>    
	                    		<default />离线
	                    	</switch>
	                    </td>
	                    <td>{$data.actime}</td>
	                    <td>{$data.lstime}</td>
						<td>
						<a href="javascript:void(0)" onclick="if(confirm('检查{$data.door}？')){location.href='{:U('checklock',array('lockid'=>$data['id']))}'}">检查</a>
						<if condition="$admin['grade'] eq !0">
							丨
	                    	<a href="javascript:void(0)" class="update" data-toggle="modal" data-target="#myModal" data-id="{$data.id}" data-vid="{$data.vid}" data-door="{$data.door}" data-sim="{$data.sim}" data-actime="{$data.actime}">修改</a> 丨 
	                    	<a href="javascript:void(0)" onclick="if(confirm('确认删除吗？')){location.href='{:U('removelock',array('lockid'=>$data['id']))}'}">删除</a>
	                    
						</if>
						</td>
	                </tr>
				</volist>

              </table>
            </div>
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {$page}
              </ul>
            </div>
             
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">添加门禁</h4>
		      </div>
		      <div class="modal-body">
					<form action="{:U('addlock')}" method="post" class="form-horizontal">
						<input type="hidden" name="id" id="lid" value=""/>
			            <div class="form-group">
			                <label class="col-sm-2 control-label">所属小区</label>
			           		<div class="col-sm-10">
				                <select name="vid" id="vid" class="form-control" style="width: 100%;">
									<volist name="vlist" id="data">
				                	<option value="{$data.id}">{$data.name}</option>
									</volist>
				                </select>
			                </div>
			            </div>
			            <div class="form-group">
			                <label class="col-sm-2 control-label">门禁名称</label>
			           		<div class="col-sm-10">
				                <input type="text" class="form-control" name="door" id="door" placeholder="例：小区大门"/>
			                </div>
			            </div>
			            <div class="form-group">
			                <label class="col-sm-2 control-label">SIM 卡号</label>
			           		<div class="col-sm-10">
				                <input type="text" class="form-control" name="sim" id="sim" placeholder="SIM 卡号"/>
			                </div>
			            </div>
			            <div class="form-group">
			                <label class="col-sm-2 control-label">激活时间</label>
			           		<div class="col-sm-10">
				               	<input type="text" class="form-control" name="actime" id="actime" placeholder="激活时间" required="required"/>
			                </div>
			            </div>
			            <div class="box-footer">
			            	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			                <button type="submit"  class="btn btn-primary pull-right">确定</button>
			            </div>
			        </form>
		              <!-- /.form-group -->
		      </div>
		    
		    </div>
		  </div>
		</div>
    </section>



<include file="Public/adminfooter" />
<script src="{:ADDON_PUBLIC}/plugins/select2/select2.full.min.js"></script>

<script>
	window.onload=function(){
		$('#actime').daterangepicker({
		singleDatePicker: true,
		timePicker: true,
		timePicker12Hour: false,
		timePickerIncrement: 10,
		separator:'/',
		format: 'YYYY-MM-DD H:mm:ss ',
		});
		$.fn.modal.Constructor.prototype.enforceFocus = function () { };
		$(".select2").select2();
	}
	$("#addroom").click(function(){
		$("#myModalLabel").text("添加门禁");
		$("#lid").val("");
		$("#vid").val("");
		$("#door").val("");
		$("#sim").val("");
		$("#actime").val("");
	});
	$(".update").click(function(){
		$("#myModalLabel").text("修改门禁信息");
		$("#lid").val($(this).data("id"));
		$("#vid").val($(this).data("vid"));
		$("#door").val($(this).data("door"));
		$("#sim").val($(this).data("sim"));
		$("#actime").val($(this).data("actime"));
	});
</script>