<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/swiper.min.css"/>
		<link rel="stylesheet" href="{:ADDON_PUBLIC}/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/zsshstyle.css"/>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/swiper.min.js" ></script>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/bootstrap.min.js" ></script>
	</head>
	<body>
		<div class="bar bar-header bar-assertive">
			<i class="ionic ion-ios-arrow-back backion" onclick="window.history.back(-1)"></i>
			<h1 class="title">广告详情</h1>
		</div>
		<div class="content">
			<img src="{$advertisement.adimage}" style="height: 200px;width: 100%;"/>
			<h3 style="text-align: center;">{$advertisement.adtitle}</h3>
			<p style="text-align: center;font-size: 15px;color:slategrey;opacity: 0.7;">{$advertisement.addtime}</p>
			<article style="text-indent: 2em;">
				{$advertisement.addes}
			</article>
		</div>
	</body>
</html>
