<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/swiper.min.css"/>
		<link rel="stylesheet" href="{:ADDON_PUBLIC}/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/webuploader.css"/>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC}/css/zsshstyle.css"/>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/swiper.min.js" ></script>
		<script type="text/javascript" src="{:ADDON_PUBLIC}/js/bootstrap.min.js" ></script>
		<script src="{:ADDON_PUBLIC}/js/webuploader.js"></script>
	</head>
	<body>
		<style>
			.webuploader-pick{
				background: none;
				width: 100px;
				height: 100px;
			}
		</style>
		<div class="bar bar-header bar-assertive">
			<i class="ionic ion-ios-arrow-back backion" onclick="window.history.back(-1)"></i>
			<h1 class="title">填写宝贝信息</h1>
		</div>
		<div class="content">
			<form action="{:U('FleamarketAdd')}" id="form" method="post">
				<div class="list">
						<label class="item item-input">
						<span class="input-label">宝贝名</span>
						<input type="text" name="fkname" placeholder="宝贝名" />
						
					</label>
					<label class="item item-input">
						<span class="input-label">价格</span>
						<input type="text" name="price" placeholder="价格" />
						
					</label>
					<label class="item item-input">
						<span class="input-label">描述</span>
						<input type="text" name="des" placeholder="描述" />
						
					</label>
					<label class="item item-input">
						<span class="input-label">联系人</span>
						<input type="text" name="name" placeholder="联系人" />
						
					</label>
					<label class="item item-input">
						<span class="input-label">联系电话</span>
						<input type="text" name="phone" placeholder="手机号码" />
					</label>
					<label class="item item-divider">照片</label>
				</div>	
				<div style="display: none;" id="imagesinput"></div>
			</form>
			<div id="uploader" class="wu-example">
			    <!--用来存放文件信息-->
			    
			    
			   
			  <div id="thelist" class="uploader-list" style="">
			  	
			  </div>
			  <div class="picker" id="picker"></div>
			</div>
			<button type="button" id="submit" class="weui_btn weui_btn_primary" style="margin-top:10px;margin-bottom: 100px;width: 50%;margin-left: 25%;">发布</button>
			
			<div id="toast" style="display: none;">
			    <div class="weui_mask_transparent"></div>
			    <div class="weui_toast">
			        <i class="weui_icon_safe weui_icon_safe_warn"></i>
			        <p class="weui_toast_content" id="toastcontent">已完成</p>
			    </div>
			</div>
			
			<div id="wxconfirm" class="weui_dialog_confirm" style="display: none;">
			    <div class="weui_mask" style="z-index: 999;"></div>
			    <div class="weui_dialog" style="z-index: 1000;">
			        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提醒</strong></div>
			        <div class="weui_dialog_bd">确认删除该图片吗?</div>
			        <div class="weui_dialog_ft">
			            <a href="javascript:void(0)" id="cancel" class="weui_btn_dialog default">取消</a>
			            <a href="javascript:void(0)" id="sure" class="weui_btn_dialog primary">确定</a>
			        </div>
			    </div>
			</div>
			<div id="loadingToast" class="weui_loading_toast" style="display:none;">
			    <div class="weui_mask_transparent"></div>
			    <div class="weui_toast">
			        <div class="weui_loading">
			            <!-- :) -->
			            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
			            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
			        </div>
			        <p class="weui_toast_content">图片上传中</p>
			    </div>
			</div>
		</div>
		<script>
			
		    var $list=$("#thelist");
		    var filecount=0;
		    var uploadcount=0;
		    var CompleteCount=0;
			var uploader = WebUploader.create({

			    // swf文件路径
			    swf:  '/js/Uploader.swf',
			
			    // 文件接收服务端。
			    server: "{:addons_url('Village://Api/uploadimages')}",
			
			    // 选择文件的按钮。可选。
			    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
			    fileNumLimit :8,
			    pick:{
			    	id:'#picker',
			    	multiple:true,
			    },
			
			    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			    resize: false,
			    accept: {
			        title: 'Images',
			        extensions: 'gif,jpg,jpeg,bmp,png',
			        mimeTypes: 'image/*'
			    }
			});
			
			
			uploader.on('uploadStart',function(file){
				uploader.options.formData.imageid=file.id;
			});
			
			uploader.on( 'fileQueued', function( file ) {
				filecount++;
			    var $li = $('<span id="'+file.id+'"><img></span>');
			    var $img=$li.find('img');
			    // $list为容器jQuery实例
			    $list.append( $li );
			    console.log();
			    // 创建缩略图
			    // 如果为非图片文件，可以不用调用此方法。
			    // thumbnailWidth x thumbnailHeight 为 100 x 100
			    uploader.makeThumb( file, function( error, src ) {
			        if ( error ) {
			            $img.replaceWith('<span>不能预览</span>');
			            return;
			        }
			
			        $img.attr( 'src', src );
			    }, 100, 100 );
			    $img.on('click',function(){
			    	$("#wxconfirm").css("display","block");
			    	
			    	$("#cancel").on('click',function(){
			    		
			    		$("#wxconfirm").css("display","none");
			    	});
			    	$("#sure").on('click',function(){
			    		uploader.removeFile(file,true);	
			    		$("#wxconfirm").css("display","none");
			    	});
			    })
			});
		
			//监听图片从列队移除事件
			uploader.on("fileDequeued",function(file){
				filecount--;
				$("#"+file.id).remove();
			});
			$("#submit").click(function(){
				var fkname=$("input[name='fkname']")[0].value;
				var price=$("input[name='price']")[0].value;
				var des=$("input[name='des']")[0].value;
				var name=$("input[name='name']")[0].value;
				var phone=$("input[name='phone']")[0].value;
				//alert(fkname+price+des+name+phone);
				if(fkname==""){
					toastshow("宝贝名称不能为空!");
					return;
				}
				if(price==""){
					toastshow("宝贝价格不能为空!");
					return;
				}
				if(des==""){
					toastshow("宝贝描述不能为空!");
					return;
				}
				if(name==""){
					toastshow("联系人不能为空!");
					return;
				}
				if(phone==""){
					toastshow("手机号码不能为空!");
					return;
				}
				if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))||phone.length!=11){
					toastshow("手机格式错误!");
					return;
				}
				if(filecount>0){
					$("#loadingToast").css("display","block");
					uploader.upload();
				}else{
					//alert("111");
					$("#form").submit();
				}
			});
				
	
			
			uploader.on( 'uploadSuccess', function( file,data) {
				if(data.status=="success"){
					$("#imagesinput").append("<input name='imagesarr["+uploadcount+"]' value='"+data.savename+"' />");
				}
				uploadcount++;
			});
			uploader.on( 'uploadComplete', function( file) {
			    CompleteCount++;
			    if(CompleteCount==filecount){
			    	$("#loadingToast").css("display","none");
					$("#form").submit();
			    }
			});
			function toastshow(msg){
				$("#toastcontent").html(msg);
					$("#toast").css('display','block');
					setTimeout(function(){
						$("#toast").css('display','none');
					},1000);
			}
		</script>
	</body>
</html>
